<%- include("partials/header"); -%>

<div class="margin">

  <header id="header">
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a href="#">Our Work</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </header>

  <section class="mainimgbg">
    <div class="inner-section">
      <h1>Memory House</h1>
      <h2>We convert film and video to digital.</h2>
    </div>
  </section>

  <section class="reel container">
    <h1>Why Memory House?</h1>
    <div class="mid-section row">

      <div class="ans col">
        <img src="/images/graph1.webp" alt="">
        <h3>We're Convenient.</h3>
        <p>We pick up your films and videotapes, so nothing will be lost in the mail.</p>
      </div>
      <div class="ans col">
        <img src="/images/graph2.webp" alt="">
        <h3>We're Local.</h3>
        <p>We serve the Dayton-Cincinnati corridor.</p>
      </div>
    </div>
  </section>

  <section class="cost">
    <h1>What Does it Cost?</h1>
    <div class="bottom-section card-deck">
      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="/images/howreel.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Film</h5>
          <p class="card-text">Prices start as low as 22¢ per foot.</p>
          <button class="btn btn-dark" type="submit" name="button">Learn More</button>
        </div>
      </div>
      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="/images/tapes.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Video</h5>
          <p class="card-text">VHS tapes: $21 per tape. Got lots?</p>
          <button class="btn btn-dark" type="submit" name="button">Learn More</button>
        </div>
      </div>
      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="/images/other.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Other</h5>
          <p class="card-text">Want your movies or tapes on a DVD?</p>
          <button class="btn btn-dark" type="submit" name="button">Learn More</button>
        </div>
      </div>
    </div>
  </section>

</div>




<%- include("partials/footer"); -%>
