<%- include("partials/header"); -%>

<div class="margin">

  <header id="header">
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a href="#">Our Work</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Book online</a></li>
    </ul>
  </header>

  <section class="mainimgbg">
    <div class="inner-section">
      <h1>Memory House</h1>
      <h2>We convert film and video to digital.</h2>
    </div>
  </section>

  <section class="reel">
    <div class="mid-section">
      <h1>Why Memory House?</h1>
      <div class="ans">
        <img src="/images/graph1.webp" alt="">
        <h3>We're Convenient.</h3>
        <p>We pick up your films and videotapes, so nothing will be lost in the mail.</p>
      </div>
      <div class="ans">
        <img src="/images/graph2.webp" alt="">
        <h3>We're Local.</h3>
        <p>We serve the Dayton-Cincinnati corridor.</p>
      </div>
    </div>
  </section>

</div>




<%- include("partials/footer"); -%>
