<%- include("partials/header"); -%>

<div class="margin">

  <section class="mainimgbg">
    <div class="inner-section">
      <h1>Hello There</h1>
      <br>
      <br>
      <h1>Hello There</h1>
      <br>
      <br>
      <h1>Hello There</h1>
      <br>
      <br>
      <h1>Hello There</h1>
      <br>
      <br>
    </div>
  </section>

</div>




<%- include("partials/footer"); -%>
