.margin {
  margin: 0;
  padding: 0;
}

.mainimgbg {
  background: url("/images/Skb6Zx.webp");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.inner-section {
  padding-top: 8%;
}

.mainimgbg h1 {
  text-align: left;
  padding-left: 9%;
  padding-top: 2%;
  font-size: 7em;
  color: #fcf5e5;
}

.mainimgbg h2 {
  text-align: left;
  padding-left: 9%;
  color: #fcf5e5;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 1%;
  align-items: center;
}

#header ul {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  width: 90%;
  padding: 1% 4%;
  margin-right: 0px;
}

#header li {
  text-decoration: none;
  justify-content: center;
  color: #fcf5e5;
  padding: 0 1%;
  list-style: none;
  font-size: 1.2em;
}

#header ul li a {
  text-decoration: none;
  padding: 8px 15px;
  color: #fcf5e5;
  border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
  background: #b57753;
}

.reel {
  text-align: center;
  width: 100%;
  justify-content: center;
}

.reel h1 {
  padding-top: 3%;
}

.reel h3 {
  padding-top: 2%;
}

.reel .ans {
  display: inline-block;
  width: 40%;
  margin: 2%;
  justify-content: center;
  text-align: center;
}

.reel .ans img {
  width: 40%;
}

.cost {
  background: #f2bb40;
  padding: 2% 10%;
}

.cost h1 {
  color: #fcf5e5;
  text-align: center;
  margin: 2%;
  margin-bottom: 5%;
}

.card {
  text-align: center;
}

.btn-dark {
  background: #b57753 !important;
  border-radius: 20px !important;
  border-color: inherit !important;
}

.btn-dark:hover {
  background: #ccb997 !important;
  border-radius: 20px !important;
  border-color: inherit !important;
}
