.margin
{
  margin: 0;
  padding: 0;
}
.mainimgbg
{
  background: url("/images/IMG_0251.JPG");
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
}
h1
{
  padding: 30% 0;
  margin: auto;
  text-align: center;
}
